# Data Analysis on Embifi Data

## Installation & Import

In [5]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\prate\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\prate\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.pandas.set_option('display.max_columns', None)
import pymongo

## Establishing MongoDB and Python connectivity using Pymongo

In [10]:
client = pymongo.MongoClient('mongodb://embifiAdmin:embifi_1659709763@db.embifi.in:22058/lms?authMechanism=DEFAULT&authSource=admin')
db = client.test
print(db)

Database(MongoClient(host=['db.embifi.in:22058'], document_class=dict, tz_aware=False, connect=True, authmechanism='DEFAULT', authsource='admin'), 'test')

In [12]:
# Names of Databases present in Cluster
client.list_database_names()

['admin', 'config', 'e-rick', 'embifi-native', 'lms', 'local', 'personal-loan']

In [14]:
# Storing the Database 'lms' in the 'db1' variable
db1 = client['lms']
db1

Database(MongoClient(host=['db.embifi.in:22058'], document_class=dict, tz_aware=False, connect=True, authmechanism='DEFAULT', authsource='admin'), 'lms')

In [17]:
# Storing the Collection 'collection_schedules' in the 'collection1' variable
collection1 = db1['collection_schedules']
collection1

Collection(Database(MongoClient(host=['db.embifi.in:22058'], document_class=dict, tz_aware=False, connect=True, authmechanism='DEFAULT', authsource='admin'), 'lms'), 'collection_schedules')

In [18]:
# The number of documents(/records) present in the 'collection_schedules' collection
liss = list(collection1.find())
len(liss)

20105

## Data Analysis on the Extracted Data

In [26]:
# Converting the extracted data into a DataFrame
list1 = list(collection1.find())
dataframe = pd.DataFrame(list1)
dataframe.head()

,_id,collection_id,collection_status,current_status,edi_number,due_date,edi_amount,principal_amount,outstanding_amount,interest_amount,collection_dateMS,os_principal,collected_amount,actual_paid_amount,advance_amount,payment_details,__v,due_dateMS,application_id
0,638dd15de9e1ac6c31198b1f,COL16702385573808265,-1,-1,1,2022-12-04 18:30:00,250,197.12,0.0,52.88,0.0,19802.88,0,0,0,[],0,1.670179e+12,NaN
1,638dd15de9e1ac6c31198b20,COL16702385573808265,-1,-1,2,2022-12-05 18:30:00,250,197.65,0.0,52.35,0.0,19605.23,0,0,0,[],0,1.670265e+12,NaN
2,638dd15de9e1ac6c31198b21,COL16702385573808265,-1,-1,3,2022-12-06 18:30:00,250,198.17,0.0,51.83,0.0,19407.06,0,0,0,[],0,1.670351e+12,NaN
3,638dd15de9e1ac6c31198b22,COL16702385573808265,-1,-1,4,2022-12-07 18:30:00,250,198.69,0.0,51.31,0.0,19208.37,0,0,0,[],0,1.670438e+12,NaN
4,638dd15de9e1ac6c31198b23,COL16702385573808265,-1,-1,5,2022-12-08 18:30:00,250,199.22,0.0,50.78,0.0,19009.16,0,0,0,[],0,1.670524e+12,NaN

In [23]:
# Features with Null Value present 
features_with_na = [x for x in dataframe.columns if dataframe[x].isnull().sum() >= 1]
features_with_na

['outstanding_amount', 'application_id']

In [28]:
# Amount of missing data
for feature in features_with_na:
    print(feature, np.round(dataframe[feature].isnull().mean()*100, 4), '% missing value')

outstanding_amount 79.9403 % missing value
application_id 28.0826 % missing value

In [30]:
# Features with Numeric Values
numerical_features = [x for x in dataframe.columns if dataframe[x].dtypes != 'O']
numerical_features

['collection_status',
 'current_status',
 'edi_number',
 'due_date',
 'edi_amount',
 'principal_amount',
 'outstanding_amount',
 'interest_amount',
 'collection_dateMS',
 'os_principal',
 'collected_amount',
 'actual_paid_amount',
 'advance_amount',
 '__v',
 'due_dateMS']

In [33]:
# Features with Date Information
date_f = [x for x in dataframe.columns if 'date' in x]
date_f

['due_date', 'collection_dateMS', 'due_dateMS']

In [35]:
# Unique Values of Features with Date Information
for x in date_f:
    print(x, dataframe[x].unique(), '\n')

due_date ['2022-12-04T18:30:00.000000000' '2022-12-05T18:30:00.000000000'
 '2022-12-06T18:30:00.000000000' ... '2024-02-23T18:30:00.000000000'
 '2024-02-24T18:30:00.000000000' '2024-02-25T18:30:00.000000000']

collection_dateMS [0.0000000e+00 1.6726176e+12 1.6719264e+12 1.6721856e+12 1.6722720e+12
 1.6710624e+12 1.6720128e+12 1.6727040e+12 1.6718400e+12 1.6707834e+12
 1.6707168e+12 1.6708032e+12 1.6715808e+12 1.6725312e+12 1.6749504e+12
 1.6437600e+12 1.6461792e+12 1.6487712e+12 1.6567200e+12 1.6646688e+12
 1.6697664e+12]

due_dateMS [1.6701786e+12 1.6702650e+12 1.6703514e+12 ... 1.6700256e+12 1.6701120e+12
 1.6701984e+12]